/* Enter your custom styles here */
#application-comexampletimesheet-display-component---Detail--otbFooter {
    background-color: black;
}

#__button3-BDI-content {
    color: white;
}

/* #application-comexampletimesheet-display-component---Detail--otbFooter {
    background-color: black;
}

#__button3-BDI-content {
    color: white;
}

#__status0-text {
    font-weight: bold;
    font-size: large;
}

#__status1-text {
    font-weight: bold;
    font-size: medium;
}

#__text38 {
    font-weight: bold;
    font-size: medium;
    color: black;
}

#__text36 {
    font-weight: bold;
    font-size: medium;
    color: black;
}

#__text37 {
    font-weight: bold;
    font-size: medium;
    color: black;
}

#__text39 {
    font-weight: bold;
    font-size: medium;
    color: black;
}

#__item1-__list0-0-ObjectNumber-unit {
    font-weight: bold;
}

#__item1-__list0-1-ObjectNumber-unit {
    font-weight: bold;
}

#__item1-__list0-2-ObjectNumber-unit {
    font-weight: bold;
}

#__item1-__list0-3-ObjectNumber-unit {
    font-weight: bold;
} */
